<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHEZuS813CGO8lIdYzK3fIALiSqG28dfo</string>
	<key>GCM_SENDER_ID</key>
	<string>45503905760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joddb.task</string>
	<key>PROJECT_ID</key>
	<string>joddb-task-57c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>joddb-task-57c2f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45503905760:ios:37b24eb10baa125725f585</string>
</dict>
</plist>